body {
  font-family: helvetica, arial, sans-serif;
}

nav {
  display: block;
  overflow: hidden;
  border-bottom: solid 1px gray;
}

#nyt_logo {
  display: inline-block;
  width: 200px;
  margin-left: 26%;
}

a {
  text-decoration: none;
  color: black;
}

.article_details * {
  float: left;
}

#left_but * {
  float: left;
  margin: 0 auto;
  background-color: transparent;
  border: none;
}

svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}

button svg {
  width: 16px;
  height: 16px;
}

nav img {
  width: 200px;
  height: auto;
}

#right_but {
  float: right;
}

.but {
  background-color: #567b95;
  border: 1px solid #326891;
  color: white;
  border-radius: 3px;
  font-size: 11px;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
  font-weight: 700;
  text-transform: uppercase;
}

#caption {
  font-size: 0.85em;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.text p {
  font-size: 20px;
}

.text p,
.text h2,
.text img,
#main_img h2 {
  max-width: 600px;
  margin-left: 300px;
}

#main_img img {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

#main_img h2 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

.article_details p {
  margin-right: 100px;
}

#left_but p {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

#article_footer div {
  margin: 0 auto;
  margin-left: 300px;
  max-width: 600px;
  font-size: 0.75em;
  color: rgb(102, 102, 102);
}

.under_img {
  font-size: 15px;
  max-width: 900px;
  color: grey;
}

.under_img span {
  color: lightgrey;
}

.article_details {
  max-width: 600px;
}

.article_details_icons {
  float: right;
  margin-left: 100px;
}

.icon {
  display: block;
  background-color: #eee;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  float: right;
  margin: 15px 8px;
}

.main_text {
  clear: left;
}

#inflation_demo {
  position: relative;
}

#inflation_demo img {
  display: block;
  margin: 0 auto;
  max-width: 945px;
  position: relative;
}

#inflation_demo p {
  position: absolute;
  font-size: 12px;
  max-width: 180px;
}

#inflation_demo .img_title {
  font-weight: bold;
}

:root {
  --inflation-demo-top: 140px;
  --inflation-demo-left: 130px;
}

/* Text Top Start */
#t1,
#t2,
#t3,
#t4 {
  top: calc(var(--inflation-demo-top));
}

#t5,
#t6,
#t7,
#t8 {
  top: calc(var(--inflation-demo-top) * 3);
}

/* Text Top End */

/* Text Left Start */
#t1,
#t5 {
  left: calc(var(--inflation-demo-left));
}

#t2,
#t6 {
  left: calc(var(--inflation-demo-left) * 3);
}

#t3,
#t7 {
  left: calc(var(--inflation-demo-left) * 4.7);
}

#t4,
#t8 {
  left: calc(var(--inflation-demo-left) * 6.6);
}

/* Text Left End */

/* Embeded video */
#emb iframe {
  display: block;
  margin: 0 auto;
}

/* Footer */

#footer_but {
  width: 328px;
  margin-top: 2%;
}

.seperator_long {
  width: 852px;
  height: 1px;
  background: black;
}
.seperator_short {
  width: 318px;
  height: 1px;
  background: black;
}
.seperator_short_gray {
  width: 318px;
  height: 1px;
  background: lightgray;
}

.spacing {
  margin-top: 2em;
}

#related_articles {
  margin-top: 4em;
}

.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.clear_float {
  clear: both;
}

.article_box {
  float: left;
  max-width: 272px;
  margin-right: 1em;
}

.article_box img {
  max-width: 272px;
}

.article_box .author {
  float: right;
  font-size: 10px;
  color: lightgray;
}

.article_box .title {
  margin-bottom: 0px;
}

.article_box .publish_date {
  font-size: 12px;
  color: lightgray;
}

aside {
  max-width: 318px;
  float: right;
}
.article_list p {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
